<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-success">
    <a class="navbar-brand" href="">Dashbord</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" routerLinkActive="active">
                <a *ngIf="currentUser" class="nav-link" routerLink="/blog">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a *ngIf="currentUser" class="nav-link" routerLink="/blog/create">New</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li *ngIf="!currentUser" class="nav-item" routerLinkActive="active">
                <a  routerLink="/signup" class="nav-link">Register</a>
            </li>
            <li *ngIf="!currentUser" class="nav-item" routerLinkActive="active">
                <a  routerLink="/login" class="nav-link">Login</a>
            </li>
            <li *ngIf="currentUser" class="nav-item" routerLinkActive="active">
                <a  routerLink="/login" class="nav-link">{{currentUser.email }}</a>
            </li>
            <li *ngIf="currentUser" class="nav-item" routerLinkActive="active">
                <button class="nav-link btn-logout" (click)="signout()">LogOut</button>
            </li>
        </ul>
    </div>
</nav> -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="index.html">Simple Ecommerce</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="category.html">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="product.html">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="product.html">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Search...">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <a class="btn btn-success btn-sm ml-3" href="cart.html">
                    <i class="fa fa-shopping-cart"></i> Cart
                    <span class="badge badge-light">3</span>
                </a>
                <ul class="navbar-nav ml-auto">
                    <li *ngIf="!currentUser" class="nav-item" routerLinkActive="active">
                        <a  routerLink="/signup" class="nav-link">Register</a>
                    </li>
                    <li *ngIf="!currentUser" class="nav-item" routerLinkActive="active">
                        <a  routerLink="/login" class="nav-link">Login</a>
                    </li>
                    <li *ngIf="currentUser" class="nav-item" routerLinkActive="active">
                        <a  routerLink="/login" class="nav-link">{{currentUser.email }}</a>
                    </li>
                    <li *ngIf="currentUser" class="nav-item" routerLinkActive="active">
                        <button class="nav-link btn-logout" (click)="signout()" href="#">LogOut</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</nav>